doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet', href='/sitecss/babyTable.css')
    link(rel='icon', type='image/png', href='/images/photo3.jpg')
    
  body
    nav.navbar
      .container
        a.navbar-brand(href='/') Home
        ul.nav
          li.nav-item
            a.nav-link(href='register') Add Baby
          li.nav-item
            a.nav-link(href='') 
          li.nav-item
            a.nav-link(href='#')
          li.nav-item
            a.nav-link(href='dashboard') DashBoard 
    table#babyTable
      thead
        tr
          th Name
          th Gender
          th Age
          th Parent1 Name 
          th Parent2 Name
          th Location
          th Baby Number
          th Contacts
          th Status
          th Clock In
          th Clock Out
          th Update 
          th Delete 
      tbody
        if babies.length
          each baby in babies
            tr
              td #{baby.fullName}
              td #{baby.gender}
              td #{baby.age}
              td #{baby.parent1Name}
              td #{baby.parent2Name}
              td #{baby.location}
              td #{baby.babyNumber}
              td #{baby.contacts}
              td #{baby.status}
              td
                a.btn.btn-secondary.btn-b(href='/babyClockin/'+baby._id) Clock In
              td
                a.btn.btn-secondary.btn-sm(href='/babyClockOut/'+baby._id) Clock Out
              td
                a.btn.btn-primary.btn-update(href="/babiesUpdate/"+baby._id) Update
              td
                form(method='POST', action='/delete')
                  input(type='hidden', name='id', value=baby._id)
                  button.btn.btn-danger(type='submit') Delete
    
    //- script(src='/js/baby.js')
