doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='/sitecss/babyTable.css')
    link(rel='icon' type='image/png' href='/images/logo.jpeg')
    link(href='/css/bootstrap/css/bootstrap.css' rel='stylesheet')
  body
    nav.navbar
    .container
      a.navbar-brand(href='/') Home
      ul.nav
        li.nav-item
          a.nav-link(href='') Sitters
        li.nav-item
          a.nav-link(href='/dashboard') DashBoard 
        li.nav-item
          a.nav-link(href='#') 
        li.nav-item
          a.nav-link(href='#') 
    table#babyTable
      thead
        tr
          th Name
          th Gender
          th Age
          th Brought by
          th Arrival Time
          th Departure Time
          th Picked by
          th Comment
          th Actions
          th 
      tbody
        // Iterate over each baby and display their information
        each baby in babies
          tr
            td #{baby.fullName}
            td #{baby.gender}
            td #{baby.age}
            td #{baby.broughtBy}
            td #{baby.pickedBy}
            td #{baby.arrivalTime}
            td #{baby.departureTime}
            td #{baby.comment}
            // Update button
            td
              a.btn.btn-primary.btn-update(href="/babiesUpdate/"+baby._id) Update
            // Delete button
            td
              form(method="POST" action="/delete")
                input(type="hidden" name="id" value=baby._id)
                button.btn.btn-danger(type='submit') Delete
            // Check-in and Check-out buttons
            td
              button.btn.btn-success(type='button' onclick='checkIn("#{baby._id}")') Check-In
              button.btn.btn-danger(type='button' onclick='checkOut("#{baby._id}")') Check-Out
    script(src='/js/babyregistration.js')
    script(src='/css/bootstrap/js/bootstrap.js')
