doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title DayStar DayCare
    link(rel='stylesheet', href='/sitecss/babyTable.css')
    link(rel='icon', type='image/png', href='/images/photo3.jpg')
    
    
  body
    nav.navbar
      .container
        a.navbar-brand(href='/') Home
        ul.nav
          li.nav-item
            a.nav-link(href='register') 
          li.nav-item
            a.nav-link(href='dashboard')  
          li.nav-item
            a.nav-link(href='#')
          li.nav-item
            a.nav-link(href='dashboard') DashBoard
    table#babyTable
      thead
        tr
          th Name
          th Gender
          th Age
          th Picked By 
          th Baby Number
          th Time
          th Status
          th Clocked Out
          th Update 
          th Delete 
          
      tbody
        // Iterate over each baby and display their information
        if babies.length
        each baby in babies
          tr
            td #{baby.fullName}
            td #{baby.gender}
            td #{baby.age}
            td #{baby.pickedBy}
            td #{baby.babyNumber}
            td #{baby.departureTime}
            td #{baby.status}
            // Check-in/Check-out button based on baby status
            td
              a.btn.btn-secondary.btn-sm(href='/babyClockin/'+baby._id) Clock In
                
            // Update button
            td
              a.btn.btn-primary.btn-update(href="/babiesUpdate/"+baby._id) Update
            // Delete button
            td
              form(method='POST', action='/delete')
                input(type='hidden', name='id', value=baby._id)
                button.btn.btn-danger(type='submit') Delete
    