doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title DayStar DayCare
    link(rel='stylesheet' href='/sitecss/sittertable.css')
    link(rel='icon' type='image/png' href='/images/logo.jpeg')
  body
    // Main Content
    main
      nav.navbar
        .container
          a.navbar-brand(href='/') Home
          ul.nav
            li.nav-item
              a.nav-link(href='') 
            li.nav-item
              a.nav-link(href='dashboard')  
            li.nav-item
              a.nav-link(href='#') 
            li.nav-item
              a.nav-link(href='dashboard') DashBoard 

      table#sitterTable 
        thead 
          tr 
            th Name 
            th Location 
            th Date of Birth 
            th Gender 
            th Next Of Kin
            th NIN
            th Recommender's Name
            th Religion
            th Level of Education
            th Sitter Number
            th Contacts
            th Update
            th Delete
        tbody 
          if sitters.length 
            each sitter in sitters
              tr 
                td #{sitter.name}
                td #{sitter.location}
                td #{sitter.dob}
                td #{sitter.gender}
                td #{sitter.nextofkin}
                td #{sitter.nextOfKin}
                td #{sitter.nin}
                td #{sitter.recommender}
                td #{sitter.religion}
                td #{sitter.education}
                td #{sitter.sitterNumber}
                td #{sitter.contacts}
                td
                  a(href="/sitterUpdate/"+sitter._id) Update 
                td 
                  form(method="POST" action="/delete")
                    input(type="hidden" name="id" value=sitter._id)
                    button(type='submit') Delete
