doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title DayStar DayCare
    link(rel='stylesheet', href='/sitecss/baby.css')
    link(rel='icon', type='image/png', href='/public/images/photo3.jpg')

  body
    main
      nav.navbar
        .container
          a.navbar-brand(href='/') Home
          ul.nav
            li.nav-item
              a.nav-link(href='/babieslist') Babies
            li.nav-item
              a.nav-link(href='/dashboard') Dashboard
            li.nav-item
              a.nav-link(href='#') 
            li.nav-item
              a.nav-link(href='#') 

      .row
        each doll in dolls
          .col-md-4
            .card
              img.card-img-top(src=doll.image, alt=doll.name)
              .card-body
                h5.card-title #{doll.name}
                p.card-text #{doll.description}
                p.card-text Price: $#{doll.price}
