doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title DayStar DayCare
    link(rel='stylesheet', href='/sitecss/baby.css')
    link(rel='icon', type='image/png', href='/images/logo.jpeg')

  body
    main
      nav.navbar
        .container
          a.navbar-brand(href='/') Home
          ul.nav
            li.nav-item
              a.nav-link(href='/sitterlist') Sitters
            li.nav-item
              a.nav-link(href='/dashboard') DashBoard 
            li.nav-item
              a.nav-link(href='#') 
            li.nav-item
              a.nav-link(href='#')

      form#babyForm(action="/babiesUpdate?id=" + baby._id method="POST")
        label(for='babyName') Full Name:
        input#name(type='text' name='fullName' value=baby.fullName)
        br
        label(for='gender') Gender:
        select#gender(name='gender')
          option(value='male' selected=baby.gender=='male') Male
          option(value='female' selected=baby.gender=='female') Female
        br
        label(for='age') Age:
        input#age(type='number' name='age' value=baby.age)
        br
        label(for='location') Location:
        input#location(type='text' name='location' value=baby.location)
        br
        label(for='parent1Name') Parent 1 Name:
        input#parent1Name(type='text' name='parent1Name' value=baby.parent1Name)
        br
        label(for='parent2Name') Parent 2 Name:
        input#parent2Name(type='text' name='parent2Name' value=baby.parent2Name)
        br
        label(for='babyNumber') Baby Number:
        input#babyNumber(type='text' name='babyNumber' value=baby.babyNumber)
        br
        label(for='contacts') Contacts:
        input#contacts(type='text' name='contacts' value=baby.contacts)
        br
        input(type='submit' value='Update')

    footer.footer
      .container1 
        p Copyright © 2024 Ebiu Julius. All rights reserved.
